@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #A3C5F2;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #F6F9FD;
    border-bottom: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    border-radius: 15px;
}

.register-form {
    padding: 30px 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    padding-bottom: 20px;
    position: relative;
}

.form-control .error {
    visibility: hidden;
    color: red;
    font-size: 12px;
}

.form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input.valid-input {
    border: 1px solid lightgreen;
}

.form-control input:focus {
    outline: none;
}

.register-form button {
    cursor: pointer;
    background-color: #29C0B3;
    border: 2px solid #29C0B3;
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
}
